@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Merienda:wght@300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("./images/girl.png");
  height: full;
  width: full;
  background-size: cover;
  background-position: center;
}
